USE [master]
GO
/****** Object:  Database [market]    Script Date: 25.05.2025 16:30:26 ******/
CREATE DATABASE [market]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'market', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\market.mdf' , SIZE = 2629632KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'market_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\market_log.ldf' , SIZE = 1187840KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [market].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [market]
GO
/****** Object:  Table [dbo].[adresler]    Script Date: 25.05.2025 16:30:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[adresler](
	[ID] [tinyint] NOT NULL,
	[Enlem] [float] NOT NULL,
	[Boylam] [float] NOT NULL,
	[Il] [nvarchar](50) NOT NULL,
	[Ilce] [nvarchar](50) NOT NULL,
	[Mahalle] [nvarchar](50) NOT NULL,
	[Aciklama] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_adresler] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[birinciKategoriler]    Script Date: 25.05.2025 16:30:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[birinciKategoriler](
	[ID] [tinyint] NOT NULL,
	[CATEGORY_NAME1] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_birinciKategoriler] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Iade]    Script Date: 25.05.2025 16:30:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Iade](
	[IADE_ID] [smallint] NOT NULL,
	[FICHENO] [int] NOT NULL,
	[IADE_TARIHI] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Iade] PRIMARY KEY CLUSTERED 
(
	[IADE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Iade_detay]    Script Date: 25.05.2025 16:30:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Iade_detay](
	[IADE_ID] [smallint] NOT NULL,
	[satisDetayID] [int] NOT NULL,
	[FICHENO] [int] NOT NULL,
	[ITEMCODE] [smallint] NOT NULL,
	[AMOUNT] [float] NULL,
	[IADE_NEDENI] [nvarchar](50) NOT NULL,
	[ACIKLAMA] [nvarchar](50) NOT NULL,
	[IADE_TARIHI] [datetime2](7) NOT NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ikinciKategoriler]    Script Date: 25.05.2025 16:30:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ikinciKategoriler](
	[ID] [tinyint] NOT NULL,
	[CATEGORY_1_ID] [tinyint] NOT NULL,
	[CATEGORY_NAME2] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ikinciKategoriler] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[markalar]    Script Date: 25.05.2025 16:30:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[markalar](
	[BRANDNAME] [nvarchar](50) NOT NULL,
	[ID] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_markalar] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[marketler]    Script Date: 25.05.2025 16:30:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[marketler](
	[MagzaID] [tinyint] NOT NULL,
	[Alan] [smallint] NOT NULL,
	[ZincirID] [int] NULL,
	[Ad] [nvarchar](50) NULL,
	[AdresID] [tinyint] NULL,
	[MudurID] [tinyint] NULL,
 CONSTRAINT [PK_marketler] PRIMARY KEY CLUSTERED 
(
	[MagzaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[marketZincirleri]    Script Date: 25.05.2025 16:30:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[marketZincirleri](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[personeller]    Script Date: 25.05.2025 16:30:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[personeller](
	[Personel_ID] [tinyint] NOT NULL,
	[Adı] [nvarchar](50) NOT NULL,
	[Soyadı] [nvarchar](50) NOT NULL,
	[Şifre] [nvarchar](50) NOT NULL,
	[Mağaza_ID] [tinyint] NOT NULL,
 CONSTRAINT [PK_personeller] PRIMARY KEY CLUSTERED 
(
	[Personel_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Satis]    Script Date: 25.05.2025 16:30:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Satis](
	[MagzaID] [tinyint] NOT NULL,
	[FICHENO] [int] NOT NULL,
	[tarih_saat] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Satis] PRIMARY KEY CLUSTERED 
(
	[FICHENO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Satis_detay]    Script Date: 25.05.2025 16:30:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Satis_detay](
	[ID] [int] NOT NULL,
	[ITEMCODE] [smallint] NULL,
	[FICHENO] [int] NOT NULL,
	[AMOUNT] [float] NULL,
	[PRICE] [float] NULL,
	[LINENETTOTAL] [float] NULL,
	[LINENET] [float] NULL,
	[MagzaID] [tinyint] NOT NULL,
 CONSTRAINT [PK_slipler] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stok_takip]    Script Date: 25.05.2025 16:30:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stok_takip](
	[MagzaID] [tinyint] NOT NULL,
	[ITEMCODE] [smallint] NOT NULL,
	[Week] [tinyint] NOT NULL,
	[Weekly_Demand] [nvarchar](50) NOT NULL,
	[Projected_On_Hand] [tinyint] NOT NULL,
	[Net_Requirements] [float] NULL,
	[Planned_Order_Receipts] [float] NULL,
	[Planned_Order_Releases] [float] NULL,
	[Planned_Order_Receipt_Date] [date] NULL,
	[Planned_Order_Release_Date] [date] NULL,
	[expiration_date] [date] NULL,
	[ALIS_FIYATI] [float] NULL,
	[Year] [smallint] NOT NULL,
 CONSTRAINT [PK_Stok_takipC] PRIMARY KEY CLUSTERED 
(
	[MagzaID] ASC,
	[ITEMCODE] ASC,
	[Week] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tumVeriler]    Script Date: 25.05.2025 16:30:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tumVeriler](
	[ID] [int] NOT NULL,
	[DATE] [datetime2](7) NOT NULL,
	[ITEMCODE] [int] NOT NULL,
	[ITEMNAME] [nvarchar](max) NOT NULL,
	[FICHENO] [int] NOT NULL,
	[AMOUNT] [float] NULL,
	[PRICE] [float] NULL,
	[LINENETTOTAL] [float] NULL,
	[LINENET] [float] NULL,
	[MagzaID] [tinyint] NOT NULL,
	[BRANDCODE] [nvarchar](50) NOT NULL,
	[BRAND] [nvarchar](50) NOT NULL,
	[CATEGORY_NAME1] [nvarchar](50) NOT NULL,
	[CATEGORY_NAME2] [nvarchar](50) NOT NULL,
	[CATEGORY_NAME3] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tumVeriler] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ucuncuKategoriler]    Script Date: 25.05.2025 16:30:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ucuncuKategoriler](
	[ID] [tinyint] NOT NULL,
	[CATEGORY_2_ID] [tinyint] NOT NULL,
	[CATEGORY_NAME3] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ucuncuKategoriler] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[urunler]    Script Date: 25.05.2025 16:30:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[urunler](
	[ID] [smallint] NOT NULL,
	[ITEMNAME] [nvarchar](max) NOT NULL,
	[BRANDCODE] [nvarchar](50) NOT NULL,
	[CATEGORY_3_ID] [tinyint] NULL,
 CONSTRAINT [PK_urunler] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UrunMarket]    Script Date: 25.05.2025 16:30:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UrunMarket](
	[ITEMCODE] [smallint] NOT NULL,
	[PRICE] [float] NULL,
	[MagzaID] [tinyint] NOT NULL,
 CONSTRAINT [pk_UrunMagza] PRIMARY KEY CLUSTERED 
(
	[ITEMCODE] ASC,
	[MagzaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[marketler] ADD  DEFAULT ((0)) FOR [ZincirID]
GO
ALTER TABLE [dbo].[Iade]  WITH CHECK ADD  CONSTRAINT [FK_Iade_Satis] FOREIGN KEY([FICHENO])
REFERENCES [dbo].[Satis] ([FICHENO])
GO
ALTER TABLE [dbo].[Iade] CHECK CONSTRAINT [FK_Iade_Satis]
GO
ALTER TABLE [dbo].[Iade_detay]  WITH CHECK ADD  CONSTRAINT [FK_Iade_detay] FOREIGN KEY([IADE_ID])
REFERENCES [dbo].[Iade] ([IADE_ID])
GO
ALTER TABLE [dbo].[Iade_detay] CHECK CONSTRAINT [FK_Iade_detay]
GO
ALTER TABLE [dbo].[Iade_detay]  WITH CHECK ADD  CONSTRAINT [FK_Iade_Satis_detay] FOREIGN KEY([satisDetayID])
REFERENCES [dbo].[Satis_detay] ([ID])
GO
ALTER TABLE [dbo].[Iade_detay] CHECK CONSTRAINT [FK_Iade_Satis_detay]
GO
ALTER TABLE [dbo].[ikinciKategoriler]  WITH CHECK ADD  CONSTRAINT [FK_mainKategory] FOREIGN KEY([CATEGORY_1_ID])
REFERENCES [dbo].[birinciKategoriler] ([ID])
GO
ALTER TABLE [dbo].[ikinciKategoriler] CHECK CONSTRAINT [FK_mainKategory]
GO
ALTER TABLE [dbo].[marketler]  WITH CHECK ADD  CONSTRAINT [FK_magza_mudur] FOREIGN KEY([MudurID])
REFERENCES [dbo].[personeller] ([Personel_ID])
GO
ALTER TABLE [dbo].[marketler] CHECK CONSTRAINT [FK_magza_mudur]
GO
ALTER TABLE [dbo].[marketler]  WITH CHECK ADD  CONSTRAINT [FK_Market_Adres] FOREIGN KEY([AdresID])
REFERENCES [dbo].[adresler] ([ID])
GO
ALTER TABLE [dbo].[marketler] CHECK CONSTRAINT [FK_Market_Adres]
GO
ALTER TABLE [dbo].[marketler]  WITH CHECK ADD  CONSTRAINT [FK_Market_Zincir] FOREIGN KEY([ZincirID])
REFERENCES [dbo].[marketZincirleri] ([ID])
GO
ALTER TABLE [dbo].[marketler] CHECK CONSTRAINT [FK_Market_Zincir]
GO
ALTER TABLE [dbo].[personeller]  WITH CHECK ADD  CONSTRAINT [FK_personel_magza] FOREIGN KEY([Mağaza_ID])
REFERENCES [dbo].[marketler] ([MagzaID])
GO
ALTER TABLE [dbo].[personeller] CHECK CONSTRAINT [FK_personel_magza]
GO
ALTER TABLE [dbo].[Satis]  WITH CHECK ADD  CONSTRAINT [FK_satis_magza] FOREIGN KEY([MagzaID])
REFERENCES [dbo].[marketler] ([MagzaID])
GO
ALTER TABLE [dbo].[Satis] CHECK CONSTRAINT [FK_satis_magza]
GO
ALTER TABLE [dbo].[Satis_detay]  WITH CHECK ADD  CONSTRAINT [FK_Satis] FOREIGN KEY([FICHENO])
REFERENCES [dbo].[Satis] ([FICHENO])
GO
ALTER TABLE [dbo].[Satis_detay] CHECK CONSTRAINT [FK_Satis]
GO
ALTER TABLE [dbo].[Satis_detay]  WITH CHECK ADD  CONSTRAINT [fk_UrunMagza] FOREIGN KEY([ITEMCODE], [MagzaID])
REFERENCES [dbo].[UrunMarket] ([ITEMCODE], [MagzaID])
GO
ALTER TABLE [dbo].[Satis_detay] CHECK CONSTRAINT [fk_UrunMagza]
GO
ALTER TABLE [dbo].[Stok_takip]  WITH CHECK ADD  CONSTRAINT [FK_Stok_Market] FOREIGN KEY([MagzaID])
REFERENCES [dbo].[marketler] ([MagzaID])
GO
ALTER TABLE [dbo].[Stok_takip] CHECK CONSTRAINT [FK_Stok_Market]
GO
ALTER TABLE [dbo].[Stok_takip]  WITH CHECK ADD  CONSTRAINT [FK_Stok_Urun] FOREIGN KEY([ITEMCODE])
REFERENCES [dbo].[urunler] ([ID])
GO
ALTER TABLE [dbo].[Stok_takip] CHECK CONSTRAINT [FK_Stok_Urun]
GO
ALTER TABLE [dbo].[ucuncuKategoriler]  WITH CHECK ADD  CONSTRAINT [FK_baseKategory] FOREIGN KEY([CATEGORY_2_ID])
REFERENCES [dbo].[ikinciKategoriler] ([ID])
GO
ALTER TABLE [dbo].[ucuncuKategoriler] CHECK CONSTRAINT [FK_baseKategory]
GO
ALTER TABLE [dbo].[urunler]  WITH CHECK ADD  CONSTRAINT [FK_markalar_urunler] FOREIGN KEY([BRANDCODE])
REFERENCES [dbo].[markalar] ([ID])
GO
ALTER TABLE [dbo].[urunler] CHECK CONSTRAINT [FK_markalar_urunler]
GO
ALTER TABLE [dbo].[urunler]  WITH CHECK ADD  CONSTRAINT [FK_urunler_kategoriler] FOREIGN KEY([CATEGORY_3_ID])
REFERENCES [dbo].[ucuncuKategoriler] ([ID])
GO
ALTER TABLE [dbo].[urunler] CHECK CONSTRAINT [FK_urunler_kategoriler]
GO
ALTER TABLE [dbo].[UrunMarket]  WITH CHECK ADD  CONSTRAINT [fk_MagzaBilgiler] FOREIGN KEY([MagzaID])
REFERENCES [dbo].[marketler] ([MagzaID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UrunMarket] CHECK CONSTRAINT [fk_MagzaBilgiler]
GO
ALTER TABLE [dbo].[UrunMarket]  WITH CHECK ADD  CONSTRAINT [fk_UrunBilgiler] FOREIGN KEY([ITEMCODE])
REFERENCES [dbo].[urunler] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UrunMarket] CHECK CONSTRAINT [fk_UrunBilgiler]
GO
USE [master]
GO
